# OMIS30 MidTerm
## Fall 2019
31 October 2019

## 1. Cleaning Errant Whitespaces

Run the cell below to define the list of strings, 'baddata.'

In [1]:
# data taken from data.gov
# https://catalog.data.gov/dataset/demographic-statistics-by-zip-code-acfc9
# https://data.cityofnewyork.us/api/views/kku6-nxdu/rows.csv?accessType=DOWNLOAD

baddata = [
"Zip Code\tTotal Population\tMedian Age\tTotal Males\tTotal Females\tTotal Households\tAverage Household Size\t",
"  90001\t57110\t26.6\t28468\t28642\t12971\t4.4 ",
"90002\t51223\t25.5\t24876\t26347\t11731\t4.36\t",
"\t\t\t\t90003\t66266\t26.3\t32631\t33635\t15642\t4.22  "
]

Each string contained in baddata contains errant spaces and/or tabs at the beginning or end of the string. Using a FOR loop, remove the errant whitespaces.

In [2]:
## Student Response Goes Here

gooddata = []
for row in baddata:
    gooddata.append(row.strip())

gooddata
## Student Response Goes Here

['Zip Code\tTotal Population\tMedian Age\tTotal Males\tTotal Females\tTotal Households\tAverage Household Size',
 '90001\t57110\t26.6\t28468\t28642\t12971\t4.4',
 '90002\t51223\t25.5\t24876\t26347\t11731\t4.36',
 '90003\t66266\t26.3\t32631\t33635\t15642\t4.22']

### 2. Working with TSV data

A TSV (Tab Separated Values) is like a CSV, except it uses tabs instead of commas to separate the values in a line. Run the cell below to define the 'data' variable. Manipulate the 'data' variable to answer the following questions. (Do not define a new string or list.)

In [3]:
# data taken from data.gov
# https://catalog.data.gov/dataset/demographic-statistics-by-zip-code-acfc9
# https://data.cityofnewyork.us/api/views/kku6-nxdu/rows.csv?accessType=DOWNLOAD

data = """
Zip Code\tTotal Population\tMedian Age\tTotal Males\tTotal Females\tTotal Households\tAverage Household Size
90001\t57110\t26.6\t28468\t28642\t12971\t4.4
90002\t51223\t25.5\t24876\t26347\t11731\t4.36
90003\t66266\t26.3\t32631\t33635\t15642\t4.22
""".strip()

### 2.1 Solving using Indexing

Using indexing and slicing, answer the following questions. Do *not* use a loop.

2.1.1 Create a list of strings that is the column names. e.g.:

['Zip Code',
 'Total Population',
 'Median Age',
 'Total Males',
 'Total Females',
 'Total Households',
 'Average Household Size']

In [6]:
## Student Response Goes Here
data.split('\n')[0].split('\t')



## Student Response Goes Here

['Zip Code',
 'Total Population',
 'Median Age',
 'Total Males',
 'Total Females',
 'Total Households',
 'Average Household Size']

2.1.2 Convert the data into a list of list of strings.

In [7]:
## Student Response Goes Here
newdata = [
    data.split('\n')[0].split('\t'),
    data.split('\n')[1].split('\t'),
    data.split('\n')[2].split('\t'),
    data.split('\n')[3].split('\t')
]

newdata

## Student Response Goes Here

[['Zip Code',
  'Total Population',
  'Median Age',
  'Total Males',
  'Total Females',
  'Total Households',
  'Average Household Size'],
 ['90001', '57110', '26.6', '28468', '28642', '12971', '4.4'],
 ['90002', '51223', '25.5', '24876', '26347', '11731', '4.36'],
 ['90003', '66266', '26.3', '32631', '33635', '15642', '4.22']]

2.1.3 Convert the data into a list of list of strings, but exclude the column names from the data.

In [8]:
## Student Response Goes Here

newdata[1:]


## Student Response Goes Here

[['90001', '57110', '26.6', '28468', '28642', '12971', '4.4'],
 ['90002', '51223', '25.5', '24876', '26347', '11731', '4.36'],
 ['90003', '66266', '26.3', '32631', '33635', '15642', '4.22']]

### 2.2 Solving using FOR Loops

Using a FOR loop and slicing, answer the following questions. Do *not* use indexing.

2.2.1 Create a list of strings that is the column names. e.g.:

['Zip Code',
 'Total Population',
 'Median Age',
 'Total Males',
 'Total Females',
 'Total Households',
 'Average Household Size']

In [9]:
## Student Response Goes Here

data.split('\n')[0].split('\t')
# or
newdata[0]
#or
headerrow = []
for row in data.split('\n')[:1]:
    headerrow.append(row.split('\t'))
headerrow
## Student Response Goes Here

['Zip Code',
 'Total Population',
 'Median Age',
 'Total Males',
 'Total Females',
 'Total Households',
 'Average Household Size']

2.2.2 Convert the data into a list of list of strings.

In [10]:
## Student Response Goes Here
newdata = []
for row in data.split('\n'):
    newdata.append(row.split('\t'))

newdata

## Student Response Goes Here

[['Zip Code',
  'Total Population',
  'Median Age',
  'Total Males',
  'Total Females',
  'Total Households',
  'Average Household Size'],
 ['90001', '57110', '26.6', '28468', '28642', '12971', '4.4'],
 ['90002', '51223', '25.5', '24876', '26347', '11731', '4.36'],
 ['90003', '66266', '26.3', '32631', '33635', '15642', '4.22']]

2.2.3 Convert the data into a list of list of strings, but exclude the column names from the data.

In [12]:
## Student Response Goes Here

newdata[1:]
# or

## Student Response Goes Here
newdata = []
for row in data.split('\n')[1:]:
    newdata.append(row.split('\t'))

newdata

## Student Response Goes Here



## Student Response Goes Here

[['90001', '57110', '26.6', '28468', '28642', '12971', '4.4'],
 ['90002', '51223', '25.5', '24876', '26347', '11731', '4.36'],
 ['90003', '66266', '26.3', '32631', '33635', '15642', '4.22']]

## 3. Cow Greek
Similar to Pig Latin, Cow Greek was developed to modify words by moving any leading consonants to the end, and appending 'oo' to the end of the word. For example, 
Denis becomes enisdoo
python becomes ythonpoo
answer becomes answeroo (note, there is no leading consonant to move)
midterm becomes idtermmoo

Write a program that:
1. takes a user input
2. removes any non-letters
3. converts everything to lowercase
4. converts the word to Cow Greek
5. and, capitalizes the first letter

note: assume that ony single words will be entered.

In [26]:
## Student Response Goes Here

def cow_greek(plainenglish):
    letters = list(plainenglish.strip())
    vowels = list('aeiou')
    index = 0
    for i,letter in enumerate(letters):
        if letter in vowels:
            index = i
            break
    return plainenglish[index:] + plainenglish[:index] + 'oo'
    
    
cow_greek('start')

## Student Response Goes Here

'artstoo'

## 4. Fibonacci Squared
Write a program that takes in a user input, 'n', (assume a valid integer is entered), and calulates the square of the n-th Fibonacci number.

In [33]:
## Student Response Goes Here

# stolen from stackoverflow!
# https://www.geeksforgeeks.org/python-program-for-n-th-fibonacci-number/
def Fibonacci(n): 
    if n<0: 
        print("Incorrect input") 
    # First Fibonacci number is 0 
    elif n==1: 
        return 0
    # Second Fibonacci number is 1 
    elif n==2: 
        return 1
    else: 
        return Fibonacci(n-1)+Fibonacci(n-2) 
    
    
n = input("Enter a number")
#assume user inputs a valid number
n = int(n)
print(Fibonacci(n)**2)


## Student Response Goes Here

Enter a number7
64

## 5. Working with Dictionaries, and Food
Write a program that takes in a user input (the user specifies the meal they would like to make), and returns a numbered list of ingredients. Extract the list of ingredients from the dictionary 'ingredients' defined below.

For example, if the user enters 'pizza', the program should print:
1. dough
2. marinara sauce
3. cheese
4. pepperoni

In [34]:
ingredients = {
    'pizza':['dough','marinara sauce','cheese','pepperoni'],
    'lasagna':['pasta','marinara sauce','cheese','ground beef'],
    'alfredo gnocci':['alfredo sauce','gnocci','chicken','broccoli']
    
}

In [38]:
## Student Response Goes Here

userchoice = input('enter a menu option:\n{}'.format(ingredients.keys()))
if userchoice in ingredients.keys():
    for i,ingredient in enumerate(ingredients[userchoice]):
        print("{number}. {ingred}".format(number = i+1,ingred=ingredient))
else:
    print("That was not a valid menu item")

## Student Response Goes Here

enter a menu option:
dict_keys(['pizza', 'lasagna', 'alfredo gnocci'])alfredo gnocci
1. alfredo sauce
2. gnocci
3. chicken
4. broccoli

## BONUS PROBLEM
Redo problem 3 (Cow Greek) using a function, where the function takes in a string as an arguent, and returns the string (assume it is a single word) translated into Cow Greek. Now, use this function to write a script that can translate an entire sentence (words separated by whitespaces) into Cow Greek.

In [15]:
### BONUS PROBLEM
## Student Response Goes Here




## Student Response Goes Here
### BONUS PROBLEM

## What to Submit
Submit this Jupyter Notebook, with your answers, to Camino. Make sure you are submitting the correct format (.ipynb)!